<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source = localhost; Initial Catalog = logisticsNew; Integrated Security = True;"/>
    <add key="Log" value="..\Log\EXP.txt"/>
    <add key="DataAccess" value="Light.EXP.DataAccess"/>
  </appSettings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx"/>
    </authentication>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <add name="SqlMembershipProvider" type="Light.EXP.WebUI.SystemFrame.SqlMembershipProvider"/>
      </providers>
    </membership>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" culture="zh-CN" uiCulture="zh-CN"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>